local.file_match "openbao_audit" {
  path_targets = [{
    __path__ = "/var/log/openbao/audit.json",
    job = "openbao-audit",
    node = "{{ inventory_hostname }}",
    environment = "homelab",
  }]
}

loki.source.file "openbao_audit" {
  targets = local.file_match.openbao_audit.targets
  forward_to = [loki.write.openbao.receiver]
}

loki.write "openbao" {
  endpoint {
    url = "{{ openbao_monitoring_loki_url }}"
  }
}

