pid_file = "/run/openbao-agent-backup/agent.pid"

vault {
  address = "https://{{ openbao_api_dns_name }}:8200"
  ca_cert = "/etc/openbao/tls/ca.pem"
}

auto_auth {
  method "approle" {
    config = {
      role_id_file_path = "{{ openbao_backup_approle_role_id_file }}"
      secret_id_file_path = "{{ openbao_backup_approle_secret_id_file }}"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "{{ openbao_backup_agent_token_file }}"
      mode = 0600
    }
  }
}

