PUID=1000
PGID=1000
TZ=America/Los_Angeles
APP_TIMEZONE=America/Los_Angeles
DISPLAY_TIMEZONE=America/Los_Angeles
DB_CONNECTION=sqlite
APP_URL=https://speed.lab.example.com
ASSET_URL=https://speed.lab.example.com
SPEEDTEST_SCHEDULE=0 */6 * * *
MAIL_MAILER=smtp
MAIL_HOST=smtp.smtp.com
MAIL_PORT=587
MAIL_SCHEME=null
MAIL_USERNAME=alerts@example.com
MAIL_FROM_ADDRESS=alerts@example.com
MAIL_FROM_NAME="Home Lab Speedtest"
