[defaults]
inventory = ../inventory/observability/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
collections_path = .ansible/collections
local_tmp = /private/tmp/homelab-observability-ansible
roles_path = ansible/roles

[ssh_connection]
pipelining = True
