global
    log /dev/log local0
    user haproxy
    group haproxy
    daemon
    maxconn 512

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 3s
    timeout client 60s
    timeout server 60s

frontend openbao_api
    bind {{ openbao_api_vip }}:8200
    default_backend openbao_nodes

backend openbao_nodes
    option httpchk GET /v1/sys/health?standbyok=true&uninitcode=200
    http-check expect status 200
{% for member in openbao_cluster_members %}
    server {{ member.name }} {{ member.address }}:8200 ssl verify required ca-file /etc/openbao/tls/ca.pem sni str({{ member.name }}.{{ openbao_domain }}) check
{% endfor %}

