[Unit]
Description=Daily OpenBao Raft snapshot

[Timer]
OnCalendar=*-*-* {{ openbao_backup_hour }}:{{ openbao_backup_minute }}:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target

